.all-posts-wrapper{
    min-height: calc(100vh - 84px);
}

.all-posts-container{
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 72px;
}

.all-posts-wrap__title{
    margin-bottom: 40px;
}

.all-posts-wrap__tabs{
    margin-bottom: 64px;
}
.all-posts__pagination{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}