.all-posts-container{
    max-width: 1120px;
    margin: 72px auto 0;
    padding-bottom: 72px;
}

.all-posts-wrap__title{
    margin-bottom: 40px;
}

.all-posts-wrap__tabs{
    margin-bottom: 64px;
}