.dropdown{
    position: absolute;
    z-index: 33;
    max-width: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    height:calc(100vh - 84px);
}

.dropdown-item{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);

    font-size: 16px;
    font-weight: 600;
    color: rgba(49, 48, 55, 1);
}
.user-item{
    padding: 0;
    border-top: 1px solid rgba(83, 96, 205, 1);
}

.dropdown-bottom{
    border-top: 1px solid rgba(232, 232, 232, 1);
}

.dropdown-item-icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-item-icon:first-child{
    border-right: 1px solid rgba(232, 232, 232, 1);
}

.dropdown-icon{
    font-size: 24px;
}

.dropdown-item__button{
    background-color: rgba(232, 232, 232, 1);
}
.dropdown-item__button button{
    font-size: 16px;
    font-weight: 600;
    color: rgba(49, 48, 55, 1);
}

