.header{
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(34, 49, 170, 1);
}

.icon{
    display: flex;
    align-items: center;
    color:rgba(255, 255, 255, 1);
    padding: 30px 0;
    width: 84px;
    font-size:24px;
}
.menu{
    border-right: 1px solid rgba(83, 96, 205, 1);
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.search{
    height:100%;
    border-right: 1px solid rgba(83, 96, 205, 1);
    border-left: 1px solid rgba(83, 96, 205, 1);
}

