.small-card{
    /*width:352px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.small-card__date{
    font-size: 16px;
    font-weight: 400;
    color:rgba(141, 142, 151, 1);
}

.small-card__title{
    font-size: 18px;
    font-weight: 600;

}

.small-card__title:hover{
    color: rgba(34, 49, 170, 1);
}

.small-card__wrap-image{
    width: 96px;
    height: 96px;
    overflow: hidden;
}
.small-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-card__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.small-card__icon-like, .small-card__icon-bookmark{
    margin-right: 24px;
}
.small-card__icon-dislike{
    transform: scale(-1, 1);
}
.small-card__icon{
    font-size:22px;
}
