.container-username{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(34, 49, 170, 1);
    padding: 18px 30px;
    max-width: 230px;
}

.container-username__initial{
    padding: 7px 0;
    width: 48px;
    background-color: rgba(83, 96, 205, 1);
    border-radius:2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.container-username__fullname{
    width: 104px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}