*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
}

button{
    background-color:transparent;
    cursor: pointer;
}

.title-light{
    color: rgba(49, 48, 55, 1);
}

.title-dark{
    color:rgba(255, 255, 255, 1);
}


.card__icon-light{
    color:rgba(76, 75, 94, 1);
}

.card__icon-dark{
    color: rgb(255, 255, 255);
}


.card__icons-light{
    border-bottom: 1px solid rgba(218, 218, 218, 1);
}

.card__icons-dark{
    border-bottom: 1px solid rgba(141, 142, 151, 1);
}